@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Manrope", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-alt-blue: #1769FF;
  --color-alt-slate: #1F2A37;
  --color-alt-light: #F4F6F8;
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F5F5F5;
  --color-neutral-300: #E6E8E8;
  --color-neutral-400: #C3C7C7;
  --color-neutral-500: #9EA3A3;
  --color-neutral-600: #595E5E;
  --color-neutral-700: #171919;
  --color-neutral-800: #131717;
  --color-neutral-900: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

.dark {
  --background: #0F172A;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
